#===============================================================================
{% if sshd_port is defined %}
Port {{ sshd_port }}
{% else %}
#Port 22
{% endif %}

AddressFamily inet		# Restrict to IPv4. inet = IPv4, inet6 = IPv6, any = both
ListenAddress 0.0.0.0 	# Listen only on the internal network address
Protocol 2 			# Only use protocol version 2

# HostKeys for protocol version 2:
HostKey {{ sshd_cfg_dir }}/ssh_host_{{ sshd_algo }}_key
{% if sshd_certs %}
HostCertificate {{ sshd_cfg_dir }}/ssh_host_{{ sshd_algo }}_key-cert.pub
{% endif %}
TrustedUserCAKeys {{ sshd_user_ca_pub.dest }}

#=================================== LOGGING ===================================
SyslogFacility AUTHPRIV 	# obsoletes QuietMode and FascistLogging
LogLevel ERROR 			# If disk spase is not concern, use 'LogLevel INFO'

#================================== AUTHENTICATION =============================
# Whitelist allowed users
{% if sshd_root_login == true %}
AllowUsers{% for user in sshd_users|map(attribute='username')|unique|list %} {{user}}{%endfor%}
{% else %}
AllowUsers{% for user in sshd_users|map(attribute='username')|unique|list %}{%if user!='root'%} {{user}}{%endif%}{%endfor%}
{% endif %}

LoginGraceTime 60 		# time in seconds to enter passphrase.
				# The less - the less DDoS vector
{% if sshd_root_login == true %}
PermitRootLogin prohibit-password # Use root login only with pub key authentication
{% else %}
PermitRootLogin no  		# No root login
{% endif %}

StrictModes yes			# Force permissions checks on keyfiles and directories
MaxAuthTries 4			# 6 is default
MaxSessions 4			# Must be 4 or more in order to provision multiple users with ansible

PubkeyAuthentication yes 	# Use public key authentication:
AuthorizedKeysFile      %h/.ssh/authorized_keys  # %h - home directory (may be omitted)
#AuthorizedPrincipalsFile none
#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody
{% if sshd_certs %}
RevokedKeys {{ sshd_cfg_dir }}/revoked_keys  # This file must exist on the system, otherwise Permission will be denied.
{% endif %}

HostbasedAuthentication no   	# For this to work host keys in /etc/ssh/ssh_known_hosts needed
IgnoreUserKnownHosts yes 	# Don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
IgnoreRhosts yes 		# Don't read the user's ~/.rhosts and ~/.shosts files

PasswordAuthentication no 	# Disable the use of passwords completly, only use public/private keys
PermitEmptyPasswords no

ChallengeResponseAuthentication no	# Disable s/key passwords. Unessisary when using keys

# Kerberos options
KerberosAuthentication yes
KerberosOrLocalPasswd yes
KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes 		# Also allows SSHD to be run as a non-root user

#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding no 	# Disable XForwarding unless you need it:
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
{% if ansible_os_family == 'Darwin' %}
PrintMotd yes	# MacOS' /etc/pam.d/sshd does not support pam_motd.so option
{% else %}
PrintMotd no	# On Linux we are using PAM instead (look at /etc/pam.d/sshd)
{% endif %}
PrintLastLog yes	# Print the last time the user logged in
TCPKeepAlive no 	# Prevent zombies. Use ClientAliveInterval instead to prevent TCP Spoofing attacks
#UseLogin no 		# DEPRECATED
#Compression delayed
ClientAliveInterval 600	# Disconnect ssh when no activity
ClientAliveCountMax 0 	# Total number of checkalive messages from server with no response
#UseDNS no
#PidFile /var/run/sshd.pid
MaxStartups 10:30:60	# 10 - Number of unauthenticated connections before start dropping
			# 30 - % chance of dropping once we reach 10 unauth connections
			# 60 - Maximum number of connections at which we start dropping
PermitTunnel no
#VersionAddendum none

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# Display login banner (before authentication):
Banner {{ sshd_cfg_dir }}/issue.net
Subsystem sftp {{ sshd_sftp_server }}
#Subsystem sftp internal-sftp -f DAEMON -u 000  # for Synology
ChrootDirectory /

# User-Specific configuration (allow SSH Tunnelling, etc.):
{% for user in sshd_users|map(attribute='username')|unique|list %}
{% if sshd_root_login == true %}
Match User  {{ user }}
     AllowTcpForwarding yes
     X11Forwarding yes

{% else %}
{% if user != 'root' %}
Match User  {{ user }}
     AllowTcpForwarding yes
     X11Forwarding yes

{% endif %}
{% endif %}
{% endfor %}
